#scrolly {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.step {
  inset: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.8s ease, visibility 0s linear 0.8s;
}

.step.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 20;
  transition: opacity 0.8s ease;
}

#chat-img {
  transform: translateX(0px);
  opacity: 0;
  transition:
    transform 1s ease,
    opacity 1s ease;
}

/* cuando el step está activo */
.step-display.active #chat-img {
  transform: translateX(0);
  opacity: 1;
}

#bg-texture {
    background-image:linear-gradient(rgba(255,255,255, 0.8), rgba(255, 255, 255, 0.8)), url(../static/img/bg-image/textureBg.svg);
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.step-display {
  position: absolute;
  width: 100vw;
  top: 100px;
  height: calc(100vh - 100px);
  opacity: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s ease;
  margin: 0 auto;
}

.step-home {
  height: 100vh;
  top: 0;
}

.scroll-sections {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.scroll-sections .step {
  height: 100vh;
}

.step-display.active {
  opacity: 1;
}

.inactive {
  pointer-events: none;
}
